* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.bottom {
  padding-top: 50px; 
}

.border-bottom {
  border-style: solid;
  border-width: 0 0 1px 0;
}

body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  /*background-color: rgba(48, 48, 48, 0.5);*/
  padding: 10px;
  width: 100%;
}

header h2 {
  color: #08298A;
}

header form {
  padding-top: 25px;
}

.categorias .img-categorias {
  height: 20%;
}
